# Ignoring PyCharm files
/.idea

# Ignoring virtualenv
/env

# Pychache
attention/__pycache__
decoder/__pycache__
encoder/__pycache__
lr_scheduler/__pycache__
masker/__pycache__
positional_encoder/__pycache__
preprocessing/__pycache__
training/__pycache__
transformer_model/__pycache__
.pyc*
